@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg0: #282C34;
    --bg-dark: #21252b;
    --bg1: #31363f;
    --bg2: #373d48;
    --bg3: #434a56;
    --fg0: #abb2bf;
    --fg1: #99a2b2;
    --fg2: #6e7a91;
    --fg3: #4f5664;
    --red: #e06c75;
    --yellow: #e5c07b;
    --green: #98c379;
    --blue: #61afef;
    --cyan: #56b6c2;
    --purple: #c678dd;
    --accent: #61afef;
    --sans-serif: "Source Sans 3", "Arial", sans-serif;
    --monospace: "JetBrains Mono", "Courier", monospace;
}

body {
    color: var(--fg0);
    background-color: var(--bg0);
    font-family: var(--sans-serif);
    margin: 0;
}

.content {
    max-width: 768px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: var(--monospace);
}

h1 {
    font-size: 40px;
    background: linear-gradient(120deg, var(--green) 60%, var(--cyan) 60%);
    color: var(--bg0);
    display: inline-block;
    padding: 8px;
}

@keyframes rainbow {
    0% {
        background-color: var(--red);
    }
    20% {
        background-color: var(--yellow);
    }
    40% {
        background-color: var(--green);
    }
    60% {
        background-color: var(--blue);
    }
    80% {
        background-color: var(--purple);
    }
    100% {
        background-color: var(--red);
    }
}

h1.rainbow {
    background: none;
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

h2 {
    display: block;
    font-size: 32px;
    color: var(--blue);
}

h3 {
    font-size: 24px;
    color: var(--green);
}

h4 {
    font-size: 24px;
    color: var(--purple);
}

p {
    margin-bottom: 2em;
    margin-top: 2em;
    line-height: 1.5em;
    font-size: 20px;
}

a {
    color: var(--accent);
    transition-duration: 200ms;
}

a:hover {
    color: white;
    transition-duration: 200ms;
}

a.tag {
    color: inherit;
}

a.tag:hover {
    color: white;
}

.content img {
    max-width: 100%;
}

pre.example {
    font-size: 20px;
    background-color: var(--bg-dark);
    padding: 4px;
}

#footer {
    padding: 8px;
}

#footer hr {
    margin: 16px;
    border: 1px solid var(--fg3);
    background-color: var(--fg3);
}

code {
    font-size: 16px;
    font-weight: 500;
}
