nav {
    margin: 0;
    background-color: var(--bg-dark);
    font-family: var(--monospace);
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 8px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.home {
    background-color: var(--accent);
    color: var(--bg0);
}
