div.post-list {
    width: 100%;
}

.post-item {
    display: block;
    margin: 8px;
    width: 100%;
    text-decoration: none;
    font-size: 24px;
    border: 1px var(--fg0) solid;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.post-item > span {
    padding: 8px;
}

.post-item > .date {
    color: var(--fg3);
    font-family: var(--monospace);
    font-size: 16px;
}

.post-item h1 {
    position: relative;
    color: var(--fg1);
    padding: 0;
    padding-bottom: 8px;
    margin-top: 0;
}

.post-item h1 a {
    text-decoration: none;
    color: var(--fg0);
    font-family: var(--display);
}

.post-item p {
    margin-top: 8px;
    margin-bottom: 0;
}

.post-item.more p {
	background: -webkit-linear-gradient(var(--fg0) 50%, var(--bg0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.post-item h1 a:hover {
    color: unset;
    background-color: unset;
    text-decoration: underline;
}

.tag-list li {
    font-family: var(--monospace);
}

.post-item:hover .read-more-button {
    opacity: 1;
    transition-duration: 200ms;
}

.read-more-button {
    opacity: 0;
    position: absolute;
    transition-duration: 200ms;
}

.read-more-button button {
    vertical-align: middle;
}
